<nav id="mainNav" class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-primary mb-3">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="flex-row d-flex">
      <a class="navbar-brand" href="" title="ParkingHRS">ParkingHRS</a>
  </div>
  <div class="navbar-collapse collapse justify-content-end" id="collapsingNavbar">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="/Pages/EntryCars" routerLinkActive="active">Entrada Vehiculos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/Pages/ExitCars" routerLinkActive="active">Salida Vehiculos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Pages/InService" routerLinkActive="active">En Parqueadero</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Pages/Historical" routerLinkActive="active">Historial Vehiculos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Pages/Rates" routerLinkActive="active">Tarifas</a>
          </li>
      </ul>
  </div>
</nav>