<div class="container container-general">
  <div class="row justify-content-center">
    <div class="col-11 col-md-11 text-center container-mini-general">
      <H2>En Parqueadero</H2>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="inService === false">
    <div class="col-11 col-md-11 text-center container-mini-general">
      <h3>
        No existen vehiculos en parqueadero
      </h3>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="inService === true">
    <div class="col-11 col-md-11 text-center container-mini-general">
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead class="thead-inverse">
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Placa</th>
              <th class="text-center">Color</th>
              <th class="text-center">Conductor</th>
              <th class="text-center">Celular</th>
              <th class="text-center">Tarifa</th>
              <th class="text-center">Fecha</th>
              <th class="text-center">Hora Entrada</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let parking of parkings">
              <td>{{parking.Id}}</td>
              <td>{{parking.Vehicle.VehicularPlate}}</td>
              <td>{{parking.Vehicle.Color}}</td>
              <td>{{parking.Vehicle.Driver}}</td>
              <td>{{parking.Vehicle.Phone}}</td>
              <td>{{parking.Rates.Rate | currency}}</td>
              <td>{{parking.DateTimeEntry | date: 'dd/MM/yyyy'}}</td>
              <td>{{parking.DateTimeEntry | date:'shortTime'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>